.header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;

  height: 60px;
  padding: 10px;

  background-color: #0f1111;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;

  border-radius: 24px;
}
.header__searchInput {
  width: 100%;
  height: 32px;
  border: none;
  outline-width: 0;
}
.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}
.header__optionLineOne {
  font-size: 12px;
}
.header__optionLineTwo {
  font-size: 15px;
  font-weight: 700;
}
.header__optionBasket {
  cursor: pointer;

  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
