.checkout {
  display: flex;
  max-width: 1500px;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  height: 130px;
  padding: 20px;

  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  width: 100%;
  height: 30px;

  color: #111;
  border: 1px solid;
  border-radius: 2px;
  border-color: #a88734 #9c7e31 #846a29;
  background-color: #f0c14b;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct {
  display: flex;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 600;
}
.checkoutProduct__stars {
  display: flex;
}
.checkoutProduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.checkoutProduct__button {
  width: 200px;
  margin-top: 10px;
  padding: 7px 20px;
  color: #111;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  background-color: #f0c14b;
}
