.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  background-color: #fff;
}

.login__logo {
  margin: 20px auto;
  object-fit: contain;
  width: 100px;
}

.login__container {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: fit-content;

  padding: 20px;

  border-radius: 5px;
  border: 1px solid lightgray;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  width: 98%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: #111;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  background-color: #f0c14b;
}
.login__registerButton {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid;
  border-color: darkgray;
}
