.home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1500px;
  margin: 0 auto;
}

.home__image {
  z-index: -1;

  width: 100%;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
  display: flex;
  margin: 0 5px;
}

.product {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  min-width: 100px;
  max-height: 400px;

  margin: 10px;
  padding: 20px;

  background-color: #fff;
}
.product__info {
  align-self: flex-start;
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product__stars {
  display: flex;
}
.product__image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__button {
  margin-top: 10px;
  padding: 7px 20px;
  color: #111;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  background-color: #f0c14b;
}
